body {
  font-size: 120%;
  margin: 0;
}

.theorems {
  display: grid;
  grid-template-columns: max-content max-content max-content;
}
.theorem-name {
  grid-column: 1 / span 1;
  justify-self: right;
}
.theorem-body {
  padding: 0 0.4em;
  grid-column: 2 / span 1;
}
.theorem-buttons {
  grid-column: 3 / span 1;
}

.theorem-name:nth-child(odd) {background-color:#eee; }
.theorem-body:nth-child(even) {background-color:#eee; }
.theorem-buttons:nth-child(odd) {background-color:#eee; }

.subformula:hover:not(:has(.subformula:hover)) {
  background-color: #ccc
}

#sandbox_text {
  width: 90%;
  height: 500px;
}
