body {
  font-size: 120%;
  margin: 0;
}
#background_canvas {
    position: absolute;
    z-index: -1;
}
.new_metavariables {
  padding: 8px;
}
.new_metavariables, .nodes {
    display: flex;
    flex-wrap: wrap;
}
.nodes {
  align-items: center;
}
.invalid {
  border: 2px solid red;
}
.node {
    background-color: rgba(255,255,255,0.7);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0.8em;
    margin: 1.6em;
    border-radius: 1.3em;
    border: 2px solid transparent;
    cursor: pointer;
}
.node:hover {
  border-color: black;
}
.child.focused {
  border: 2px solid blue;
}
.child:hover {
  filter: brightness(0.9) saturate(130%);
  background-color: rgba(60,60,255,0.2);
}
.metavariable_reference {
  padding: 0 0.2em;
  border-radius: 0.2em;
}