body {
  font-size: 120%;
}
.globals, .goals {
    display: flex;
    flex-wrap: wrap;
}
.global,.new_global {
    padding: 0.1em;
    margin: 0.4em;
    border: 2px solid transparent;
}
.global {
    cursor: pointer;
}
.invalid {
  border: 2px solid red;
}
.global:hover {
  border-color: black;
}
.node {
    display: flex;
    flex-direction: column;
    padding: 0.8em;
}
.node .parents {
    display: flex;
    padding: 0.8em;
}
.node .self {
    display: flex;
    padding: 0.8em;
}
.node .children {
    display: flex;
    padding: 0.8em;
}
.type {
  opacity: 0.4;
}
.type:before {
    content: " : ";
}
.value:before {
    content: " := ";
}
.sort {
  font-weight: bold;
  font-style: italic;
}
.term_name_id,.metavariable_name_id {
  padding: 0 0.2em;
  border-radius: 0.2em;
}