body {
  font-size: 120%;
}
.background_canvas {
    width: 100vw;
    height: 100vh;
}
.new_metavariables, .nodes {
    display: flex;
    flex-wrap: wrap;
}
.invalid {
  border: 2px solid red;
}
.node {
    position: absolute;
    width: 10vw;
    height: 10vh;
    background-color: #ddd;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0.8em;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.node:hover {
  border-color: black;
}
.metavariable_name_id {
  padding: 0 0.2em;
  border-radius: 0.2em;
}