@charset "UTF-8";
article,aside,figure,footer,header,hgroup,menu,nav,section{display:block;}
body,div,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:inherit;}
img{color:transparent;border:0;vertical-align:middle;-ms-interpolation-mode:bicubic;}
iframe {border:0;}

body {
  background-color: #ddd;
}

.proof_root,.prior_tactic,.successful_tactic {
  background-color: white;
  margin: 6px;
}

.proof_root {
  padding: 8px;
}


.prior_tactics,.attempted_tactics {
  display: flex;
  flex-flow: row wrap;
}

.prior_tactic {
  position: relative;
  z-index: 2;
}

.prior_tactic .tactic {
  padding: 8px;
  font-weight: bold;
  background-color: white;
  position: relative;
}

.prior_tactic .goals {
  display: none;
  position: absolute;
  z-index: 4;
  background-color: white;
  top: 100%;
  left: 0;
  box-shadow: 2px 3px 9px black;
}

.proof_root:hover,.prior_tactic:hover,.successful_tactic:hover {
  box-shadow: 2px 3px 9px black;
  cursor: pointer;
}

.prior_tactic:hover .tactic {
  z-index: 3;
}

.prior_tactic:hover .tactic {
  z-index: 5;
}

.prior_tactic:hover .goals {
  display: block;
}

.tactic.future, .proof_root:hover ~ .prior_tactics .tactic, .prior_tactic:hover ~ .prior_tactic .tactic {
  background-color: #eee;
  color: #999;
  font-weight: normal;
}



.successful_tactic .tactic {
  font-weight: bold;
  font-size: 120%;
  padding: 8px;
}

.goal {
  padding: 8px;
}

del.line::before {
  content: '-';
}

ins.line::before {
  content: '+';
}

del.line::before, ins.line::before {
  position: absolute;
  left: 8px;
  font-family: monospace;
}

del.line, ins.line {
  display: block;
}
del, ins {
  position: relative;
  text-decoration: none;
}

del {
  background-color: #fcc;
}

ins {
  background-color: #dfd;
}

pre {
  display: inline;
}
.line pre {
  margin-left: 28px;
  display: block;
}
